@charset "utf-8";

*{
    margin: 0;
}

body{
    background-image: url(../images/wallpaper002.jpg);
    background-position: right top;
}

div{
    background-color: white;
    width: 60%;
    padding: 30px 8px;
    margin: auto;
}

h1{
    padding-bottom: 30px ;
}