@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Idroid";
    src: url(./fontes/idroid.otf);
}/*Importa uma fonte interna. Primeira declaro @font-face: "nome da font e a url/endereço da mesma. Depois disso só preciso utilizar o nome dela.*/

:root{
    --darkGreen: rgb(4, 71, 4);/*cor da fonte dos h1, h3*/
    --backGroundH: to right, rgba(144, 238, 144, 0.767), rgba(162, 241, 162, 0.212);/*configuração linear-gradient h3*/
    --shadowInText: 1px 1px 1px black;
}

*{
    margin: 0;
}/*margin 0 para todos os elementos.*/

body{
    background-color: rgba(102, 207, 142, 0.658);
}

header{
    background-image: linear-gradient(to top,  var(--darkGreen) 30%, green, rgb(65, 209, 65));
    padding: 20px 20px 5px 20px;
}

#textTop{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 1px 4px black;
    font-family: 'Bebas Neue', sans-serif;
}

#secondText{
    text-align: center;
    color: white;
    padding: 20px;
    text-shadow: 2px 1px 4px black;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    text-shadow: 2px 1px 4px black;
}

nav > a:hover{
    background-color: rgba(144, 238, 144, 0.418);
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

main{
    background-color: white;
    width: 60%;
    max-width: 1000px;
    margin: auto;
    padding: 10px 20px 20px 20px;
}

h1{
    font-family: "Idroid", Arial, Helvetica, sans-serif;
    color: var(--darkGreen);
    /*ver se dá para enquadrar o tamanho da font na div independente do tamanho dela*/
    text-shadow: var(--shadowInText);
}

h3{
    font-family: "Idroid", Arial, Helvetica, sans-serif;
    color: var(--darkGreen);
    background-image: linear-gradient(var(--backGroundH));
    text-shadow: var(--shadowInText);
}

p{
    text-indent: 50px;/*indenta a primeira palavra do texto*/
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

picture > img{
    display: block;
    margin: auto;
}

#firstSection{
    background-color: var(--darkGreen);
    width: 60%;
    height: 500px;
    margin: auto;
    padding: 20px;
}

iframe{
    display: block;
    width: 95%;
    height: 95%;
    margin: auto;
}

#robozinho{
    display: block;
    margin: auto;
}

#secondSection{
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 20px 20px 0px 20px;
}

#secondSection > p:nth-child(1)/*chama apenas o primeiro filho*/{
    font-family: "Idroid", Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: var(--shadowInText);
    font-size: 20px;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(30, 145, 82, 0.945);
    text-indent: 0;
}

#secondSection > div{
    background-color: rgba(144, 238, 144, 0.658);
    border-radius: 0px 0px 5px 5px;
}

#swetty1{
    width: 45%;
    display: inline-block;
    margin-left: 20px;
}

#swetty2{
    width: 45%;
    display: inline-block;
    margin-left: 20px;
}

#thirdSection{
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 0px 20px 20px 20px;
    border-radius: 0px 0px 5px 5px;
}

footer{
    background-color: var(--darkGreen);
    margin-top: 20px;
    text-align: center;
    color: white;
}

footer > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer > a:hover{
    background-color: rgba(144, 238, 144, 0.479);
    text-decoration: underline;
}