body{
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 0px 5px lightgrey;
}

div#main p#currentHour{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.719);
    padding: 10px;
    margin: auto;
    width: 700px;
}